{{ include('inc/header.twig') }}
<div class="overlay">
	<div class="pages">
		{{ include('pages/index.twig') }}
		{{ include('pages/about.twig') }}
		{{ include('pages/work.twig') }}
    {{ include('pages/contact.twig') }}
    {{ include('pages/tos.twig') }}
	</div>
</div>
{{ include('inc/footer.twig') }}
